@import '../../common/styles/colors';
.bike_avatar_wrapper {
  display: flex;
}
.bike_avatar {
  max-width: 1100px;
  height: 630px;
  text-align: center;
  transform: translate(50px, -30px);
  object-fit: contain;
}
.btn_item {
  width: 7px;
  height: 30px;
  border-radius: 7px;
  background-color: $color-black;
  margin-bottom: 10px;
  transition: all 0.4s;
  cursor: pointer;
  &:hover {
    background-color: $color-orange;
  }
}
