@import '../../common//styles/colors';
@import '../../common//styles/template';
.table {
  max-width: 570px;
  width: 100%;
}
.info_table {
  display: flex;
}
.title_table {
  padding: 3px 0;
  background-color: $color-black;
  color: $color-white;
  font-size: 14px;
  @extend %font-inter;
  text-transform: uppercase;
}
.info_title {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  font-size: 14px;
  @extend %font-inter;
}
.info_text {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  font-size: 14px;
}
.info_title_text {
  margin-bottom: 12px;
}
.info_text_name {
  margin-bottom: 10px;
}
