.table {
  max-width: 500px;
}
.info_table {
  display: flex;
  align-items: center;
  gap: 50px;
}
.info_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
}
.info_text {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
