@import '../../common/styles/colors';
@import '../../common/styles/template';
.info_bike_section {
  display: flex;
  margin-top: 100px;
}
.info_bike_wrapper {
  max-width: 580px;
}
.title {
  font-size: 4rem;
  font-weight: 700;
  @extend %font-inter;
  color: $color-black;
}
.sub_title {
  transform: translateY(-50px);
  @extend %font-inter;
  font-size: 2rem;
  color: $color-gray;
  font-weight: 400;
}
.info_text {
  color: $color-black;
  max-width: 420px;
  font-size: 14px;
}
.button_info {
  display: block;
  max-width: 420px;
  padding: 20px 0;
  background-color: $color-black;
  color: $color-gray;
  text-align: center;
  @extend %font-inter;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: 20px;
  text-decoration: none;
  transform: translateY(50px);
  transition: all 0.4s;
  &:hover {
    background-color: $color-orange;
    color: $color-white;
  }
}
.bike_wrapper {
  display: flex;
  flex-direction: column;
}

.about_bike_section {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.about_avatar {
  width: 570px;
  height: 1030px;
  object-fit: cover;
}
.about_text_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  align-items: center;
}
.about_text_item {
  transform: translateY(-20px);
  margin-bottom: 0px;
}
.title_about {
  font-size: 16px;
  @extend %font-inter;
  font-weight: 700;
}
.sub_title_about {
  font-size: 14px;
  // transform: translateY(-20px);
}
.characteristic_section {
  display: flex;
  gap: 25px;
}
.pen {
  max-width: 520px;
  height: 401px;
  transform: translate(30px, 120px);
}
.slider_avatar_section {
  margin-top: 50px;
}
.order_wrapper {
  display: flex;
  gap: 80px;
}
.avatar_block {
  max-width: 600px;
  .avatar {
    max-width: 530px;
    object-fit: cover;
  }
}
.bike_slider {
  width: 4px;
  height: 20px;
  background-color: red;
}
.gray,
.white,
.orange {
  width: 90px;
  height: 12px;
  border: 0.5px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.gray {
  background-color: $color-gray;
}
.white {
  background-color: $color-white;
}
.orange {
  background-color: $color-orange;
}
.slider_button_wrapper {
  display: flex;
  gap: 20px;
  transform: translate(-525px, 240px);
}
